@import url('https://fonts.googleapis.com/css?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css?family=Boogaloo&display=swap');
.navbar{
    font-family: 'arial', sans-serif;
    font-size: 15pt;

}
.kepala{
    font-family:'arial', sans-serif;
    font-size: 25pt;
    margin-bottom:0.15px
}
.konten{
    font-family: 'arial', sans-serif;
    font-size: 20pt;
}

.sapp{
    font-family: 'arial', sans-serif;
}