{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<br><br>
{% csrf_token %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <br><br>
        <input type="submit" value="Submit">
        <br><br>
    </form>
    <h3 style="color:rgb(122, 122, 37);"> Articles</h3>
    {% for article in all_articles %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{article.text}}</h5>
             <p class="card-text">Category:  {{article.category}}</p>
            <a href="{% url 'update' article.id %}" class="btn btn-primary">Update</a>
            <a href="{% url 'delete' article.id %}" class="btn btn-primary">Delete</a>
            <a  href="{% url 'posts' article.id %}" class="close"></a>
        </div>
    </div>
    {% endfor %}
    <div class="container" > 
        <br><br>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                {% if all_articles.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{all_articles.previous_page_number}}">Previous</a></li>
                {% endif %}
                
                {% for page in totalList %}
                <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                {% endfor %}
                

                {% if all_articles.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{all_articles.next_page_number}}">Next</a></li>
                {% endif %}
                
                <!-- <li class="page-item"><a class="page-link" href="?page={{lastpage}}">Last</a></li> -->
                
                </ul>
            </nav>
    </div>

</div>
{% endblock content %}